<div class="container">
	<h2>Checkout</h2>
	<div class="row border-bottom">
    	<div class="col-sm-6">
    		Product
    	</div>
    	<div class="col-sm-3 text-center">
    		Qty.
    	</div>	
    	<div class="col-sm-3 text-right">
    		Price
    	</div>
    </div>
	<div ng-repeat="item in $ctrl.items" class="row">
    	<div class="col-sm-6">
    		<p class="border-bottom">ID: {{item.id}} | {{item.Name}} ({{item.size_name}})</p>
    		<p>{{item.Structure}}</p>
    	</div>
    	<div class="col-sm-3 text-center"> 
        	<p class="text-center">{{item.quantity}}</p>
        </div>
        <div class="col-sm-3 text-right"> 
        	$<span ng-bind="displayPrice(item.Price, item.size)*item.quantity"></span>
        </div>
    </div>
	<div class="row">
			<input id="FirstName" ng-model="cartData.firstName" class="form-control input-sm text-center" placeholder="First Name">
			<input id="LastName" ng-model="cartData.lastName" class="form-control input-sm text-center" placeholder="Last Name">
			<input id="Email" ng-model="cartData.email" class="form-control input-sm text-center" placeholder="Email">
			<input id="Phone" ng-model="cartData.phone" class="form-control input-sm text-center" placeholder="Phone Number">
			<input id="Address" ng-model="cartData.address" class="form-control input-sm text-center" placeholder="Address">
			<input id="City" ng-model="cartData.city" class="form-control input-sm text-center" placeholder="City">
			<input id="State" ng-model="cartData.state" class="form-control input-sm text-center" placeholder="State (if Applicable)">
			<input id="Country" ng-model="cartData.country" class="form-control input-sm text-center" placeholder="Country">
			<input id="Zip" ng-model="cartData.zip" class="form-control input-sm text-center" placeholder="Zip Code">
			<input id="BillAddress" ng-model="cartData.billAddress" class="form-control input-sm text-center" placeholder="Billing Address">
			<input id="PO" ng-model="cartData.PO" class="form-control input-sm text-center" placeholder="PO Number">
	</div>
	<div class="row text-right">
		<button class="btn btn-primary text-right" type="button" ng-click="confirmPurchase()">Confirm</button>
	</div>
</div>