<div class="container">
	<h2>Checkout</h2>
	<div class="row border-bottom">
    	<div class="col-sm-6">
    		Product
    	</div>
    	<div class="col-sm-3 text-center">
    		Qty.
    	</div>	
    	<div class="col-sm-3 text-right">
    		Price
    	</div>
    </div>
	<div ng-repeat="item in $ctrl.items" class="row">
    	<div class="col-sm-6">
    		<p class="border-bottom">ID: {{item.id}} | {{item.Name}} ({{item.size_name}})</p>
    		<p>{{item.Structure}}</p>
    	</div>
    	<div class="col-sm-3 text-center"> 
        	<p class="text-center">{{item.quantity}}</p>
        </div>
        <div class="col-sm-3 text-right"> 
        	$<span ng-bind="displayPrice(item.Price, item.size)*item.quantity"></span>
        </div>
    </div>
    <h2>
	<div class="col-sm-6">
		<h2 class="black">Customer Information</h2>
		<form name="customerForm">
			<input id="FirstName" ng-model="cartData.firstName" class="form-control input-sm text-center" placeholder="First Name" required>
			<input id="LastName" ng-model="cartData.lastName" class="form-control input-sm text-center" placeholder="Last Name" required>
			<input id="Email" ng-model="cartData.email" class="form-control input-sm text-center" placeholder="Email" required>
			<input id="Phone" ng-model="cartData.phone" class="form-control input-sm text-center" placeholder="Phone Number" required>
			<input id="Address" ng-model="cartData.address" class="form-control input-sm text-center" placeholder="Address" required>
			<input id="City" ng-model="cartData.city" class="form-control input-sm text-center" placeholder="City" required>
			<input id="State" ng-model="cartData.state" class="form-control input-sm text-center" placeholder="State (if Applicable)">
			<input id="Country" ng-model="cartData.country" class="form-control input-sm text-center" placeholder="Country" required>
			<input id="Zip" ng-model="cartData.zip" class="form-control input-sm text-center" placeholder="Zip Code" required>
		</form>
	</div>
	<div class="col-sm-6">
		<h2 class="black">Billing Information</h2>
		<form name="billingForm">
			<input id="FirstName" ng-model="cartData.Institution" class="form-control input-sm text-center" placeholder="Institution/Organization" required>
			<input id="LastName" ng-model="cartData.contactName" class="form-control input-sm text-center" placeholder="Contact Name">
			<input id="Email" ng-model="cartData.contactEmail" class="form-control input-sm text-center" placeholder="Contact Email">
			<input id="Phone" ng-model="cartData.contactPhone" class="form-control input-sm text-center" placeholder="Contact Phone Number">
			<input id="Address" ng-model="cartData.billAddress" class="form-control input-sm text-center" placeholder="Billing Address">
			<input id="City" ng-model="cartData.billCity" class="form-control input-sm text-center" placeholder="City">
			<input id="State" ng-model="cartData.billState" class="form-control input-sm text-center" placeholder="State (if Applicable)">
			<input id="Country" ng-model="cartData.billCountry" class="form-control input-sm text-center" placeholder="Country">
			<input id="Zip" ng-model="cartData.billZip" class="form-control input-sm text-center" placeholder="Zip Code">
			<input id="PO" ng-model="cartData.billPO" class="form-control input-sm text-center" placeholder="PO Number">
		</form>
	</div>
	<div class="row text-right">
		<button class="btn btn-primary text-right" type="button" ng-click="customerForm.$valid && billingForm.$valid && confirmPurchase()">Confirm</button>
	</div>
</div>