<div class="row">
	<div class="col-sm-6">
		<input id="Name" ng-model="name" class="form-control input-sm text-center" placeholder="Full Name">
	</div>
	<div class="col-sm-6">
		<input id="Email" ng-model="email" class="form-control input-sm text-center" placeholder="Email">
	</div>
	<div class="col-sm-6">
		<input id="Phone" ng-model="phone" class="form-control input-sm text-center" placeholder="Phone Number">
	</div>
	<div class="col-sm-6">
		<input id="ShipAddress" ng-model="shipAddress" class="form-control input-sm text-center" placeholder="Shipping Address">
	</div>
	<div class="col-sm-6">
		<input id="BillAddress" ng-model="billAddress" class="form-control input-sm text-center" placeholder="Billing Address">
	</div>
</div>