<script type="text/ng-template" id="distributor-list.html">
<div>
<a class="size-14" ng-click="addToCart(x.id, pricing.value, pricing.label)">Glycan Therapeutics <span class="glyphicon glyphicon-chevron-right small" aria-hidden="true"></span></a><br>
<a ng-hide="!availablity(x.Link_A)" class="size-14" href="{{x.Link_A}}" class="available">Galen Supplies <span class="glyphicon glyphicon-chevron-right small" aria-hidden="true"></span></a><br>
<a ng-hide="!availablity(x.Link_B)" class="size-14" href="{{x.Link_B}}" class="available">Iduron <span class="glyphicon glyphicon-chevron-right small" aria-hidden="true"></span></a><br>
<a ng-hide="!availablity(x.Link_C)" class="size-14" href="{{x.Link_C}}" class="available">Polysciences <span class="glyphicon glyphicon-chevron-right small" aria-hidden="true"></span></a><br>
</div>		
</script>

<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<ul class="nav nav-pills nav-stacked nav-collapsible">
				<li class="active">Filter Products: </li>
				<li><input type="text" placeholder=" Search..." ng-model="nameFilter"></li>
				<li><a data-toggle="collapse" class="collapsed" data-target="#by-series">By Series </a></li>
				<ul id="by-series" class="collapse nav-in-nav"> 
					<li ng-repeat="series in seriesName" class="family-item" ng-class="seriesFilter===series?'nav-'+series:''" ng-click="filterUrl(series, 'series')"><a ng-class="seriesFilter===series?'white-text':''">{{series}} Series</a></li>
				</ul>
				<li><a data-toggle="collapse" class="collapsed" data-target="#by-size">By Size </a></li>
				<ul id="by-size" class="collapse nav-in-nav"> 
					<li ng-repeat="size in sizeName" class="family-item" ng-class="sizeFilter===size?'active-size':''" ng-click="filterUrl(size, 'size')"><a ng-class="sizeFilter===size?'black-text':''">{{size}}</a></li>
				</ul>
				<li><a data-toggle="collapse" class="collapsed" data-target="#by-tag">By Tag </a></li>
				<ul id="by-tag" class="collapse nav-in-nav"> 
					<li ng-repeat="tag in tagName" class="family-item" ng-class="tagFilter===tag?'active-size':''" ng-click="filterUrl(tag, 'tag')"><a ng-class="tagFilter===tag?'black-text':''">{{tag}}</a></li>
				</ul>
			</ul>
		</div>
		<div class="col-sm-9">
			<h3>{{filtered.length}} available compounds. <a class="align-right" href="/support/misc/Compounds_Sorting.pdf" download target="_self">Download our entire product list here.</a></h3>
			<div ng-repeat="x in compounds | filter:{Series: seriesFilter, Name: sizeFilter, Family: tagFilter} | filter:nameFilter as filtered" class="row border-bottom">
				<div class="col-sm-12">
					<div class="series-{{x.Series}}" ng-switch on="x.Sizes">
						<select class="black-text float-right pricing-box" ng-switch-when="1" ng-model="$parent.pricing" ng-init="$parent.pricing=pnpOptions[0]" ng-options="option as option.label for option in pnpOptions"></select>
						<select class="black-text float-right pricing-box" ng-switch-when="2" ng-model="$parent.pricing" ng-init="$parent.pricing=biotinOptions[0]" ng-options="option as option.label for option in biotinOptions"></select>
						<select class="black-text float-right pricing-box" ng-switch-when="3" ng-model="$parent.pricing" ng-init="$parent.pricing=fluorOptions[0]" ng-options="option as option.label for option in fluorOptions"></select>
						<select class="black-text float-right pricing-box" ng-switch-default ng-model="$parent.pricing" ng-init="$parent.pricing=options[0]" ng-options="option as option.label for option in options"></select>
						No. {{x.id}} | {{x.Name}}
						<a class="white-text" ng-href="../support/{{x.Family}}-sheets/Product_{{x.Family}}-{{x.id}}.pdf" target="_self"><span class="glyphicon glyphicon-info-sign"></span></a>
						<a ng-if="x.Family=='Azido'" class="white-text" ng-href="../support/{{x.Family}}-sheets/Safety_{{x.Family}}-{{x.id}}.pdf" target="_self"><span class="glyphicon glyphicon-exclamation-sign"></span></a>				
						<br>
						<span> Price: $<span ng-bind="displayPrice(x.Price, x.Price2, x.Price3, pricing.value)"></span></span>
						<a class="distributor align-right snipcart-add-item add-cart" ng-switch-when="1" data-item-id="{{x.id}}" data-item-name="{{x.Name}}" data-item-price="{{x.Price}}" data-item-url="/products.json" data-item-custom1-name="Size" data-item-custom1-options=" 1 mg[+{{x.Price3 - x.Price}}]">ADD TO CART</a>
						<a class="distributor align-right snipcart-add-item add-cart" ng-switch-when="2" data-item-id="{{x.id}}" data-item-name="{{x.Name}}" data-item-price="{{x.Price}}" data-item-url="/products.json" data-item-custom1-name="Size" data-item-custom1-options="100 ug">ADD TO CART</a>
						<a class="distributor align-right snipcart-add-item add-cart" ng-switch-when="3" data-item-id="{{x.id}}" data-item-name="{{x.Name}}" data-item-price="{{x.Price}}" data-item-url="/products.json" data-item-custom1-name="Size" data-item-custom1-options="50 ug">ADD TO CART</a>
						<a class="distributor align-right snipcart-add-item add-cart" ng-switch-default data-item-id="{{x.id}}" data-item-name="{{x.Name}}" data-item-price="{{x.Price}}" data-item-url="/products.json" data-item-custom1-name="Size" data-item-custom1-options="100 ug|500 ug[+{{x.Price2-x.Price}}]|1 mg[+{{x.Price3-x.Price}}]" data-item-custom1-value="{{pricing.label}}">ADD TO CART</a>				
					</div>
				</div>
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading" ng-click="x.isCollapsed = !x.isCollapsed">
							<h4 class="panel-title">
							<a>
							{{x.Structure}} <span class="glyphicon align-right" ng-class="x.isCollapsed?'glyphicon-chevron-down':'glyphicon-chevron-up'"></span>
							</a>
							</h4>
						</div>
						<div class="panel-body" uib-collapse="x.isCollapsed">
							<img class="structure-pic" ng-src="/images/{{x.id}}.jpg"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<p class="align-right">Don't see a compound you want? Try our <a ui-sref="services">custom synthesis <span class="glyphicon glyphicon-chevron-right small" aria-hidden="true"></span></a></p>
	</div>
</div>
